mixin sExamplesSlider()
	+b.slider-examples-wrap
		+b.slider-examples--js.swiper
			.swiper-wrapper
				block
		+b.control-wrap.d-md-none
			+arrow
			.swiper-pagination

mixin sExamples-item(title, img)
	+b.sExamples-item
		+e.title!= title 
		.toggle-wrap
			p.toggle-list Преимущества
				span.toggle-list-el
			.toggle-block
				p.toggle-list Преимущества
					span.toggle-list-el.active
				ul
					li Наши специалисты бесплатно посетят Ваш объект
					li Быстро и&nbsp;с&nbsp;гарантией согласуем ПОДД
					li Скидка&nbsp;10% при заказе в&nbsp;день обращения
					li Предоставляем гарантию на&nbsp;проект ОДД на&nbsp;весь период строительства и&nbsp;эксплуатации
					li Проектируем ОДД на&nbsp;любой вид строительных работ
		p Пример проекта
		+e.images-block
			a(href=`img/sExamples-bg-${img}.png` data-fancybox=`example-${img}`)
				img(src=`img/sExamples-bg-${img}.png` alt="").bg-img
			+e.img--front(href=`img/sExamples-fr-${img}.png` data-fancybox=`example-${img}`)
				img(src=`img/sExamples-fr-${img}.png`, alt="")
			+e.img--back(href=`img/sExamples-bk-${img}.png` data-fancybox=`example-${img}`)
				img(src=`img/sExamples-bk-${img}.png`, alt="")
			a(href=`img/sExamples-fr-1.png` data-fancybox=`example-${img}`).d-none
			//- +e.result <span>Результат</span> нашей работы:
			//- 	+icon('result-arrow')
		+e.footer
			+e.price 	Цена 
				strong от 10 000 руб.
			a(href="#").btn-green Узнать стоимость

mixin sExamples()
	// start sExamples
	+b.SECTION.sExamples.section#sExamples&attributes(attributes)
		+e.wrapper

			img(src="img/sMainDocs-bg.jpg" alt="").picture-bg
			.container
				+b.section-title
					h2 Выполним комплекс работ от&nbsp;разработки и&nbsp;согласования проекта ОДД до&nbsp;реализации проектных решений
				p Благодаря огромному опыту работы в&nbsp;области Организации дорожного движения, мы&nbsp;профессионально и&nbsp;оперативно решаем любые поставленные задачи. Разрабатываем схемы организации дорожного движения (схемы ОДД) для объектов различного назначения от&nbsp;небольших магазинов до&nbsp;огромных Торговых центров, эстакад, государственных объектов, примыканий, съездов, переходно-скоростных полос.
				p Возведение данных объектов часто требует задействования тротуаров, улично-дорожной сети для выполнения строительно-монтажных работ. В&nbsp;результате временно изменяется существующая утвержденная комплексная схема организации дорожного движения (КСОДД).
				p Компания &laquo;С-Проджект&raquo; помогает обеспечить безопасность, удобство движения пешеходов, транспорта посредством профессиональной разработки Проекта ОДД (проект организации дорожного движения) на&nbsp;время строительства или эксплуатации. Также, Проект организации дорожного движения актуален и&nbsp;при устройстве инженерных коммуникаций, АЗС, автостоянок, прочих объектов.
				+e.subtitle Далее, нажав на&nbsp;кнопку&nbsp;Вы можете посмотреть пример нужного Вам Проекта и&nbsp;его состав (все проекты согласованы):
				+input('Поиск услуги','text','')
				+sExamplesSlider()
					+e.slide.swiper-slide
						+sExamples-item(`Проект организации дорожного движения (ПОДД) на&nbsp;<span>период эксплуатации</span>`,'1')
					+e.slide.swiper-slide
						+sExamples-item(`Проект организации дорожного движения (ПОДД) на&nbsp;<span>период строительства</span>`,'2')
					+e.slide.swiper-slide
						+sExamples-item(`Проект организации дорожного движения (ПОДД) на&nbsp;<span>снос/демонтаж</span>`,'3')
					+e.slide.swiper-slide
						+sExamples-item(`Проект организации дорожного движения (ПОДД) на&nbsp;<span>прокладку сетей, коммуникации</span>`,'4')
					+e.slide.swiper-slide
						+sExamples-item(`Проект организации дорожного движения (ПОДД) на&nbsp;<span>установку лесов или пешеходной галереи</span>`,'5')
					+e.slide.swiper-slide
						+sExamples-item(`Проект организации дорожного движения (ПОДД) на&nbsp;<span>подъем оборудования</span>`,'6')
					+e.slide.swiper-slide
						+sExamples-item(`Проект съезда к&nbsp;земельному участку с&nbsp;автодороги регионального значения в&nbsp;Московской области с&nbsp;согласованием Мосавтодор`,'7')
					+e.slide.swiper-slide
						+sExamples-item(`Проект реконструкции светофорного объекта (АСУДД), с&nbsp;получением&nbsp;ТУ, согласованиями ЦОДД, Департамента транспорта`,'8')


	// end sExamples