mixin sExamplesItem(i,t,link)
	+b.example-item
		+e.img--front(href=`img/sExamples-${i}-1.png` data-fancybox=`sert-${i}`)
			img(src=`img/sExamples-${i}-1.png`, alt="")
			+e.img--back(href=`img/sExamples-${i+1}-1.png` data-fancybox=`sert-${i}`)
				img(src=`img/sExamples-${i}-1.png`, alt="")
			a(href=`img/sExamples-${i+1}-1.png` data-fancybox=`sert-${i}`).d-none
		//- +e.img-wrap
		//- +img(`sExamples-${i}.png`)
		+e.text
			+e.title!= t
			if link
				+e.A.link.link-success(href='#')= 'ПОДРОБНЕЕ'

mixin sExamples()
	// start sExamples
	+b.SECTION.sExamples.section#sExamples&attributes(attributes)
		+e.wrapper

			img(src="img/sMainDocs-bg.jpg" alt="").picture-bg
			.container
				+b.section-title
					h2 Выполним комплекс работ от&nbsp;разработки и&nbsp;согласования проекта ОДД до&nbsp;реализации проектных решений
				p Благодаря огромному опыту работы в&nbsp;области Организации дорожного движения, мы&nbsp;профессионально и&nbsp;оперативно решаем любые поставленные задачи. Разрабатываем схемы организации дорожного движения (схемы ОДД) для объектов различного назначения от&nbsp;небольших магазинов до&nbsp;огромных Торговых центров, эстакад, государственных объектов, примыканий, съездов, переходно-скоростных полос.
				p Возведение данных объектов часто требует задействования тротуаров, улично-дорожной сети для выполнения строительно-монтажных работ. В&nbsp;результате временно изменяется существующая утвержденная комплексная схема организации дорожного движения (КСОДД).
				p Компания &laquo;С-Проджект&raquo; помогает обеспечить безопасность, удобство движения пешеходов, транспорта посредством профессиональной разработки Проекта ОДД (проект организации дорожного движения) на&nbsp;время строительства или эксплуатации. Также, Проект организации дорожного движения актуален и&nbsp;при устройстве инженерных коммуникаций, АЗС, автостоянок, прочих объектов.
				+e.subtitle Далее, нажав на&nbsp;кнопку&nbsp;Вы можете посмотреть пример нужного Вам Проекта и&nbsp;его состав (все проекты согласованы):
				+input('Поиск услуги','text','')
				.row
					.col-12.col-sm-6.col-lg-4
						+sExamplesItem('1', 'Проект организации дорожного движения (ПОДД) на&nbsp;<span>период эксплуатации</span>','link')

					.col-12.col-sm-6.col-lg-4
						+sExamplesItem('2', 'Проект организации дорожного движения (ПОДД) на&nbsp;<span>период строительства</span>','link')
					.col-12.col-sm-6.col-lg-4
						+sExamplesItem('3', 'Проект организации дорожного движения (ПОДД) на&nbsp;<span>на снос или демонтаж</span>','link')
					.col-12.col-sm-6.col-lg-4
						+sExamplesItem('4', 'Проект организации дорожного движения (ПОДД) на&nbsp;<span>прокладку сетей, коммуникации</span>')
					.col-12.col-sm-6.col-lg-4
						+sExamplesItem('5', 'Проект организации дорожного движения (ПОДД) на&nbsp;<span>установку лесов или пешеходной галереи</span>','link')
					.col-12.col-sm-6.col-lg-4
						+sExamplesItem('6', 'Проект организации дорожного движения (ПОДД) на&nbsp;<span>подъем оборудования</span>','link')
					.col-12.col-sm-6.col-lg-4
						+sExamplesItem('7', 'Проект съезда к&nbsp;земельному участку с&nbsp;автодороги регионального значения в&nbsp;Московской области с&nbsp;согласованием Мосавтодор','link')
					.col-12.col-sm-6.col-lg-4
						+sExamplesItem('8', 'Проект реконструкции светофорного объекта (АСУДД), с&nbsp;получением ТУ, согласованиями ЦОДД, Департамента транспорта','link')
					.col-12.col-sm-6.col-lg-4
						+sExamplesItem('9', 'Проект переустройства контактной сети троллейбуса с&nbsp;согласованием ГУП Мосгортранс, Деп-та транспорта Москвы','link')

	// end sExamples